/* .backgroundImg { */
    /* background-image: url(../../images/book.jpg); */
    /* background-size:     cover;                  
    background-repeat:   no-repeat;
    background-position: relative; */
   
/* } */

.carrouel_wrapper {
    overflow: hidden;
    background-color: #c5678e;

  }
  
  .carrouel_image1 {
    background-image: url(../../images/book-background-thumbnail.jpg);
    height: 700px;
    background-size: cover !important;
    background-position: relative;
  }
  .carrouel_image2 {
    background-image: url(../../images/Creative_Wallpaper_Stack_of_books_on_the_bench_082401_.jpg);
    height: 700px;
    background-size: cover !important;
    background-position: relative;
  }
  .carrouel_image3 {
    background-image: url(../../images/book.jpg);
    height: 700px;
    
    background-size: cover !important;
    background-position: relative;
  }
  
  .titleApp {
    position:absolute;
    top: 40%;
    left: 50%;
    width: 500px;
    height: 140px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid rgb(255, 255, 255);
  }
  
  .titleApp .wrapper {
    border: 2px solid rgb(255, 255, 255);
    height: 121px;
    margin: 6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 21px 70px 0px 70px;
    text-transform: uppercase;
  }

.landingJumbo {
    width: 60%;
    background-color: #c5678e;
}

.cardBackground{
    background-color: rgb(7, 64, 78)!important;
}


.jumboText {
    color: rgb(255, 255, 255);
}

.companyName {
    font-size: 5vw;
}

.companySlogan {
    font-size: 3vw;
}



