/* .backgroundImg { */
    /* background-image: url(../../images/book.jpg); */
    /* background-size:     cover;                  
    background-repeat:   no-repeat;
    background-position: relative; */
   
/* } */

.carrouel_wrapper {
    overflow: hidden;
  }
  
  .carrousel_image {
    background-size: cover !important;
  }
  
  .titleApp {
    position:absolute;
    top: 10%;
    left: 50%;
    width: 500px;
    height: 140px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid rgb(255, 255, 255);
  }
  
  .titleApp .wrapper {
    border: 2px solid rgb(255, 255, 255);
    height: 121px;
    margin: 6px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 21px 70px 0px 70px;
    text-transform: uppercase;
  }

.landingJumbo {
    width: 60%;
    background-color: rgb(11, 49, 65) !important;
}

.cardBackground{
    background-color: rgb(7, 64, 78)!important;
}


.jumboText {
    color: rgb(255, 255, 255);
}

.companyName {
    font-size: 5vw;
}

.companySlogan {
    font-size: 3vw;
}

.fa-stack {
    vertical-align: top;
    color: grey
}

.facebookLogo:hover {
    color: #4267b2 !important;
}

.twitterLogo:hover {
    color: #1da1f2 !important;
}

.instagramLogo:hover {
    color: #f09433; 
}

.linkedinLogo:hover {
    color: #0073b0 !important;
}

.googleLogo:hover {
    color: #dc5246 !important;
}