aside
{
    background-color: #c5678e;
    position:inherit;
    height: 100%;
    width: 200px;
    top: 70px;
    left: 1px;
    border: 1px solid rgb(182, 182, 182);
}

.sidebar {
    color: rgb(252, 227, 215);
    background-color: #c5678e;
    font-family: 'Benne', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'EB Garamond', serif;
}

.sidebar-brand-text{
        color: #ffffff !important;
        text-align: center;
    }
    .sidebar-brand-icon{
color: black;
    }