aside
{
    background-color:   rgb(46, 187, 180);
    position: absolute;
    height: 100%;
    width: 150px;
    top: 87px;
    left: 1px;
    border: 1px solid rgb(251, 255, 2);
}

.sidebar {
    background-color:  rgb(46, 187, 180);
}

.sidebar-brand-text{
        color: #f5f5f0 !important;
        text-align: center;
    }
