.cn_wrapper {
    display: flex;
    padding: 170px 0px;
  }
  
  .cn_item {
    width: 50%;
    color: rgb(252, 229, 223);
    text-align: center;
  }
  
  .cn_item .cn_outer {
    width: 300px;
    border: 2px solid #84ffda;
    margin: auto;
    padding: 5px;
  }
  
  .cn_item .cn_inner {
    border: 2px solid #84ffda;
    position: relative;
    padding: 0px 20px;
    transition: all 500ms ease;
  }
  
  .cn_item .cn_inner:hover {
    background:  #205552;
  }
  
  .cn_item .cn_icon_square {
    width: 100px;
    height: 100px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -54px;
    left: 100px;
  }
  
  .cn_item .cn_icon {
    width: 50px;
    height: 50px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: -30px;
    left: 124px;
  }
  
  .cn_item .cn_title {
    font-size: 28px;
    margin: 90px 0px 20px 0px;
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 10px;
  }
  
  .cn_item .cn_desc {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 90px;
  }