.navbar {
    background:  #f1a4a9;

}

.btn {
    background-color:  rgb(62, 31, 66) !important;
    color: #ececec !important;
    font-family: "Calibri", "Georgia", "Times New Roman", Times, serif;
    /* font-family: 'Benne', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'EB Garamond', serif; */
}

img{
    width: 50px;
  
}

/* .controlBtn {
    background-color: #001f3f;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Calibri", "Georgia", "Times New Roman", Times, serif;
    text-align: center;
    width: 80px;
    border-radius: 25px;
    text-decoration: none;
    border: none
} */

.nav-link{
    color: #e2c4c4 !important;
    text-align: center;
    text-shadow: rgb(0, 0, 0);
}

.nav-item:hover {
    background-color: rgb(67, 68, 68);
        /* text-decoration: none;
    padding: 5px 1px 5px 1px;
    width: 100px; */
}

/* .nav-link:hover {
    background-color: #777777;
    text-decoration: none;
} */
